/* 
==========================
About Page 
========================== 
*/


//layout
#about{

	// default layout =============================================

.mapWrapper {
     position: relative;
     padding-bottom: 66.6666667%; 
     height: 0;
    }
    .mapWrapper iframe {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
    }
    
	//x-small =============================================
	@include breakpoint(x-small){
		background-color: violet;

	}//end x-small breakpoint



	//small =============================================
	@include breakpoint(small){
		background-color: red;
			
		header{
  			   background-color: blue;
  			   font-size: 2.9em;
  			   padding-bottom: 3%;
  			   margin-bottom: 1%;
  			   
			  }
		.titlepage{
  			   background-color: blue;
  			   font-size: 2.9em;
  			   padding-top: 3%;
  			   
			  }	
	}//end small breakpoint



	//medium breakpoint =============================================
	@include breakpoint(medium){
		background-color: green;
		header{
  			   background-color: yellow;
  			   font-size: 2.9em;
  			   padding-bottom: 1%;
  			   margin-bottom: 1%;
			  }
		.titlepage{
  			   background-color: yellow;
  			   font-size: 2.9em;
  			   padding-bottom: 1%;
			  }	
		
	}// end medium breakpoint



	//large breakpoint =============================================
	@include breakpoint(large){
		background-color: yellow;
		header{
  			   background-color: green;
  			   font-size: 2.9em;
  			   padding-bottom: 1%;
  			   margin-bottom: 1%;
			  }
		.titlepage{
  			   background-color: green;
  			   font-size: 2.9em;
  			   padding-bottom: 1%;
			  }	
	}//end large breakpoint



	//x-large breakkpoint  =============================================
	@include breakpoint(x-large){
		background-color: blue;
		color: white;

	}//end xlarge breakpoint


	//xx-large breakpoint  =============================================
	@include breakpoint(xx-large){
		background-color: orange;

	}//end xxlarge breakpoint
}//end #about





