/* 
==========================
Index Page (homepage)
========================== 
*/


//layout
#index{

	// default layout  =============================================
header{
  color:#fff;
  background-color: #f04;
  font-size: 1.9em;
  padding-bottom: 3%;
}
.titlepage{
  color:#fff;
  background-color: #f04;
  font-size: 1.9em;
  padding-bottom: 3%;
}
.kai{
  float:left;
  padding-right: 2%;
  padding-top: 6%;
  padding-bottom: 2%;
}



	.featuredSpeakers{
		/*compass clearfix */
		@include pie-clearfix();
		margin-bottom: $spacer;
	}

	.featuredInfo{
		
	}

	.introduction{
		@include col(1,1);
		font-size: 1.3em;
	}

	.speaker{
		@include col(1,2);
	}

	.date{
		@include col(5,12);
		font-size: 1.2em;
	}

	.location{
		@include col(7,12);
	}

	.track{
		@include col(1,1);
	}



	//x-small =============================================
	@include breakpoint(x-small){
		background-color: violet;

	}//end x-small

	//small =============================================
	@include breakpoint(small){
		background-color: red;
		.featuredInfo{
		//	@include no-col();
		}
		.date-location{
		//	@include col(1,3);
		}
		.featuredSpeakers{
		//	@include col(2,3);
		}
		.speaker img{
			width:50%;
			float:right;
		}
		.speaker h3{
			width:50%;
			float: left;
		}
		.speaker{
			@include pie-clearfix();
			margin-bottom: $spacer;
		}

	}//end small


	//medium breakpoint =============================================
	@include breakpoint(medium){
		background-color: green;


		.speaker{
			@include col(1,4);
			img{
				@include no-col();
			}
			h3{
				@include no-col();
			}
		}

		.track{
			@include col(2,4);
		}
	}



	//large breakpoint =============================================
	@include breakpoint(large){
		background-color: yellow;

		.featuredSpeakers{
			//@include col(12,12);
			h2{
				@include col(1,1);
			}
		}
		.speaker{
			@include col(1,4);
		}

		.featuredInfo{
			@include col(12,12);
		}

		.introduction{
			@include col(8,12);
			font-size: 1.6em
		}

		.date, .location{
			@include col(2,12);
		}

		.track{
			@include col(6,12);
		}
	}//end large breakpoint

	//x-large breakkpoint  =============================================
	@include breakpoint(x-large){
		background-color: blue;
		color: white;


		.feature{
			@include col(1,2);
			clear:none;
		}
		.tracks{
			@include col(1,2);
			clear:none;
			font-size: 1.2em;
		}

		.introduction{
			@include no-col();
		}

		.date, .location{
			@include col(1,2);
			font-size: 1.3em;
		}

		.track{
			@include no-col();
		}

	}//end xlarge breakpoint


	@include breakpoint(xx-large){
		background-color: orange;
	}//end xxlarge breakpoint

}
//end #home





