/* 
==========================
Schedule Page 
========================== 
*/




//layout
#schedule{

	// default layout =============================================
.creative{
  background-color: #81DAF5;
}
.fine{
  background-color: #fc5;
}
.performing{
  background-color: #BEF781;
}
.media{
  background-color: #fe4;
}
    
    
	//x-small =============================================
	@include breakpoint(x-small){
		background-color: violet;
		header{
  			   background-color: blue;
  			   font-size: 2.9em;
  			   padding-bottom: 3%;
  			   margin-bottom: 1%;
  			   
			  }
		.titlepage{
  			   background-color: blue;
  			   font-size: 2.9em;
  			   padding-top: 3%;
  			   
			  }	
	

	}//end x-small breakpoint



	//small =============================================
	@include breakpoint(small){
		background-color: red;
			.opening{
		@include col(1,2);
		}
		.middle{

		margin-top: 100%;
		}
		.end{
		margin-top:100%;
	}
	}//end small breakpoint



	//medium breakpoint =============================================
	@include breakpoint(medium){
		background-color: green;
		.middle{

		margin-top: 95%;
		}
	}// end medium breakpoint



	//large breakpoint =============================================
	@include breakpoint(large){
		background-color: yellow;
		.opening{
		@include col(2,4);
	}
	.middle{

		margin-top: 75%;
		}
	.end{
		margin-top:75%;
	}
	}//end large breakpoint



	//x-large breakkpoint  =============================================
	@include breakpoint(x-large){
		background-color: blue;
		color: white;

	}//end xlarge breakpoint


	//xx-large breakpoint  =============================================
	@include breakpoint(xx-large){
		background-color: orange;

	}//end xxlarge breakpoint
}//end #schedule




