/* 
==========================
Speakers Page 
========================== 
*/


//layout
#speakers{

	// default layout =============================================




.s1{
  float:left;
  padding-right: 2%;
  padding-top: 6%;
  padding-bottom: 2%;
  height:35%;
  width:35%;

}


    
	//x-small =============================================
	@include breakpoint(x-small){
		background-color: violet;
		.speaker{
		@include col(1,2);
		}
	

	}//end x-small breakpoint



	//small =============================================
	@include breakpoint(small){
		background-color: red;
		.speaker{
		
		}
		header{
  			   background-color: blue;
  			   font-size: 2.2em;
  			   padding-bottom: 3%;
  			   margin-bottom: 1%;
  			   
			  }
		.titlepage{
  			   background-color: blue;
  			   font-size: 2.2em;
  			   padding-top: 3%;
			  }	
			}//end small breakpoint



	//medium breakpoint =============================================
	@include breakpoint(medium){
		background-color: green;
		
	header{
  			   background-color: blue;
  			   font-size: 2.9em;
  			   padding-bottom: 3%;
  			   margin-bottom: 1%;
  			   
			  }
		.titlepage{
  			   background-color: blue;
  			   font-size: 2.9em;
  			   padding-top: 3%;
  			   
			  }	

			  
	}// end medium breakpoint
	


	//large breakpoint =============================================
	@include breakpoint(large){
		background-color: yellow;

	}//end large breakpoint



	//x-large breakkpoint  =============================================
	@include breakpoint(x-large){
		background-color: blue;
		color: white;

	}//end xlarge breakpoint


	//xx-large breakpoint  =============================================
	@include breakpoint(xx-large){
		background-color: orange;

	}//end xxlarge breakpoint
}//end #schedule




